/** @format */

* {
	margin: 0;
	padding: 0;
	font-family: Helvetic, aArial, sans-serif;
	box-sizing: border-box;
}
body {
	background-color: #f0f2f5;
	position: relative;
	height: 115vh;
	overflow-x: hidden;
	margin-left: 10px;
}

#cantainer {
	display: flex;
}
#recent-logins {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 15vw;
	top: 13vh;
	margin-right: 30vw;
	margin-left: 23px;
}

#facebook {
	height: 70px;
	width: 198px;
	margin: 20px;
}
#recent-logins > #title {
	font-size: 20px;
	font-weight: normal;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 17px;
}
#recent-logins > #subtitle {
	color: #606770;
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 20px;
	font-weight: 400;
	margin-left: 17px;
}
#cards {
	display: flex;
}
#card-1,
#card-2 {
	position: relative;
	background-color: white;
	margin-right: 10px;
	border-radius: 5px;
	margin-left: 20px;
	z-index: 15;
}

#card-1:hover,
#card-2:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: box-shadow 0.3s;
}
#card-1-img {
	margin-left: 12px;
}

#card-1-img,
#card-2-img {
	height: 130px;
	width: 130px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 12;
}
#add-account {
	color: #166fe5;
}
.usernane {
	font-size: 18px;
	line-height: 22px;
	padding: 12px;
	text-align: center;
	color: rgb(75, 79, 86);
}
#cancel {
	position: absolute;
	left: 8px;
	color: white;
	top: 5px;
	border-radius: 50%;
	height: 20px;
	text-align: center;
	width: 20px;
	background-color: rgb(63, 62, 62);
	opacity: 0.5;
}
#card-1:hover #cancel {
	background-color: white;
	opacity: 1;
	color: rgb(194, 193, 193);
	height: 25px;
	width: 25px;
	line-height: 22px;
	top: -5px;
	left: -5px;
	font-size: 25px;
	transition: 0.3s;
}
#login {
	position: relative;
	background-color: #ffffff;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	top: 18vh;
	justify-content: space-around;
	padding: 10px 10px 20px 10px;
	align-items: center;
	box-shadow: 0 5px 5px 3px gainsboro;
	z-index: 15;
	margin-left: 39px;
}
#login > a {
	margin: 10px 0;
	text-decoration: none;
	font-size: 15px;
	color: #1877f2;
}

#login > a:hover {
	text-decoration: underline;
	cursor: pointer;
}

hr {
	width: 95%;
	height: 0.1%;
	background-color: rgb(194, 193, 193);
	border: none;
}

#login > input[type="text"],
#login > input[type="password"] {
	height: 16%;
	width: 8px 0;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 16px;
	width: 95%;
	border: 1.5px solid #eeeff0;
}
#login > input[type="password"] {
	margin-bottom: 12px;
}
#login > input[type="text"]:focus,
#login > input[type="password"]:focus {
	outline: none;
	border: 1px solid blue;
	box-shadow: 0 0 5px #719ece;
	caret-color: blue;
}
#email {
	width: 95%;
	height: 36px;
	border-radius: 5px;
	margin-bottom: 1px;
	border: 1.5px solid #eeeff0;
}
#login > input[type="email"]:focus {
	outline: none;
	border: 1px solid blue;
	box-shadow: 0 0 5px #719ece;
	caret-color: blue;
}
#Log-in-button {
	background-color: #1877f2;
	color: #ffffff;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	height: 30px;
	font-weight: bold;
	width: 95%;
}
#login-button:hover {
	background-color: #166fe5;
	cursor: pointer;
}
#create-new-account {
	background-color: #42b72a;
	color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	height: 30px;
	font-weight: bold;
	width: 60%;
	margin-top: 10px;
}

#create-new-account:hover {
	background-color: #36a420;
	cursor: pointer;
}
p {
	font-size: 10px;
	position: absolute;
	bottom: -55px;
}

footer > div {
	margin-top: 19px;
	justify-content: bottom;
}
footer {
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100vw;
	padding: 20px;
	padding-bottom: 0px;
	color: #a6a8aa;
	font-size: 12px;
	margin-top: 4000px;
	display: flex;
	justify-content: bottom;
	word-spacing: 12px;
	list-style: 20px;
	margin-bottom: 0px;
}
